@{
    ViewBag.Title = "VintageCarsNetwork";
}

<div class="jumbotron">
    <h1>VintageCars Network</h1>
    <p class="lead">Welcome to the bigger Network of Vintage Cars. It's free, enjoy it!</p>
    <div class="index_img__box">
        <img src="https://i0.wp.com/www.comprecarshop.com.br/wp-content/uploads/shelbygt350-2-99f5284a31fda761b0d7717f60fcafcd-1024-1024.jpg?fit=1000%2C1000&ssl=1" />
    </div>
</div>